body {
    font-family: Arial;
    background: #f4f6f8;
    padding: 40px;
}

form {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
}

button {
    background: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}
